@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>Hi, my name is Joel Hilton! I spend my days with my beautiful wife and my six kids. 
        I love halloween and I hate pineapple. I created this website to keep track of all movies: 
        ones I enjoy,ones I plan to watch, and ones you enjoy. Please add a movie or two 
        under the "Movie Submission" tab.</p>
</div>

<br />

<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 text-right">
            <h2>Quick Wits Comedy</h2>
            <p>I perform regularly at Quick Wits Comedy! Click the button below to go to our official website.</p>
            <button class="btn btn-primary" onclick="window.location.href='https://www.qwcomedy.com/';">Quick Wits Comedy</button>
        </div>
		<div class="col-md-6">
			<img src="~/css/img/best-comedy-audiobooks-social.jpg" width="600" />
        </div>
    </div>
    <br />
    <br />
    <div class="row align-items-center">
        <div class="col-md-6 text-right">
            <h2>Baconsale</h2>
            <p>I have a podcast! Click <a href="https://www.baconsale.com/">here</a> to go to my BaconSale website.</p>
        </div>
		<div class="col-md-6">
            <img src="~/css/img/baconsalekate.jpg" width="600" onclick="window.location.href='https://baconsale.com/';" />
        </div>
    </div>
</div>
